## Python √°ttekint√©s

-  Az √≥ra c√©lja, hogy megismerkedj√ºnk a Pandas DataFrame fogalm√°val √©s annak haszn√°lat√°val.
-  Megtanuljuk, hogyan lehet adatokat beolvasni, m√≥dos√≠tani √©s elemezni egy DataFrame seg√≠ts√©g√©vel.
-  Az √≥ra v√©g√©re a hallgat√≥k k√©pesek lesznek egyszer≈± adatmanipul√°ci√≥kat v√©grehajtani Pythonban.

### Bevezet√©s

Mi az a DataFrame?
-  T√°bl√°zatos adatstrukt√∫ra (hasonl√≠t az Excel t√°bl√°zatra vagy SQL t√°bl√°ra).
-  Sorokb√≥l √©s oszlopokb√≥l √°ll, indexekkel √©s c√≠mk√©kkel.

Mi√©rt fontos a DataFrame a Data Science-ben?
-  Adatt√°rol√°s √©s manipul√°ci√≥ hat√©kony m√≥dja.
-  K√∂nny≈± beolvas√°s, √°talak√≠t√°s √©s vizualiz√°ci√≥.

Sz√ºks√©ges Python csomagok
- pandas, numpy, matplotlib
- Telep√≠t√©s(Ha sz√ºks√©ges): pip install pandas numpy matplotlib

### Kitekint≈ë:

Angol nyelv≈± vide√≥ a dataframe-kr≈ël: [katt ide](youtube.com/watch?v=eQ0xPt6hIfs)

### DataFrame l√©trehoz√°sa list√°kb√≥l √©s sz√≥t√°rakb√≥l

K√©pzelj√ºk el, hogy egy kis adatb√°zist hozunk l√©tre egy v√°llalat dolgoz√≥ir√≥l. 

Hogyan alak√≠tjuk ezt DataFrame form√°tumba?

In [14]:
# A pandas csomag import√°l√°sa (r√∂vid√≠tve 'pd'-k√©nt szok√°s haszn√°lni)
import pandas as pd 

# Egy sz√≥t√°r (dictionary) l√©trehoz√°sa, ahol minden kulcshoz egy lista tartozik
# - 'N√©v' oszlop: h√°rom ember neve
# - 'Kor' oszlop: √©letkorok
# - 'V√°ros' oszlop: lak√≥helyek
data = {'N√©v': ['Anna', 'B√©la', 'Csaba'],
        'Kor': [23, 45, 32],
        'V√°ros': ['Budapest', 'Szeged', 'Debrecen']}

In [16]:
display(data)

{'N√©v': ['Anna', 'B√©la', 'Csaba'],
 'Kor': [23, 45, 32],
 'V√°ros': ['Budapest', 'Szeged', 'Debrecen']}

In [22]:
# A pandas DataFrame az adatok t√°bl√°zatos form√°ban val√≥ t√°rol√°s√°ra szolg√°l.
# Itt a sz√≥t√°r kulcsai lesznek az oszlopok nevei, a list√°k elemei pedig a sorok √©rt√©kei.
df = pd.DataFrame(data)

In [24]:
# A DataFrame ki√≠rat√°sa a konzolra.
# (Jupyter notebookban a 'display(df)' szebb, t√°bl√°zatos form√°tumban mutatja az eredm√©nyt.)
display(df)

     N√©v  Kor     V√°ros
0   Anna   23  Budapest
1   B√©la   45    Szeged
2  Csaba   32  Debrecen

DataFrame l√©trehoz√°sa list√°kb√≥l

In [26]:
# H√°rom k√ºl√∂n list√°ban t√°roljuk az adatokat
nevek = ['Anna', 'B√©la', 'Csaba']          # nevek list√°ja
korok = [23, 45, 32]                       # √©letkorok list√°ja
varosok = ['Budapest', 'Szeged', 'Debrecen']  # v√°rosok list√°ja

In [28]:
print(nevek)
print(korok)
print(varosok)

['Anna', 'B√©la', 'Csaba']
[23, 45, 32]
['Budapest', 'Szeged', 'Debrecen']

In [32]:
# A zip() f√ºggv√©ny "√∂sszecsomagolja" a list√°k elemeit:
# [('Anna', 23, 'Budapest'),
#  ('B√©la', 45, 'Szeged'),
#  ('Csaba', 32, 'Debrecen')]
# Vagyis minden sor egy tuple (n√©v, kor, v√°ros).
# A list() √°talak√≠tja a zip objektumot t√©nyleges list√°v√°.
list(zip(nevek, korok, varosok))

[('Anna', 23, 'Budapest'), ('B√©la', 45, 'Szeged'), ('Csaba', 32, 'Debrecen')]

In [34]:
# Ezut√°n a pandas DataFrame-be t√∂ltj√ºk az adatokat,
# √©s megadjuk az oszlopneveket a 'columns' param√©terrel.
df = pd.DataFrame(list(zip(nevek, korok, varosok)),
                  columns=['N√©v', 'Kor', 'V√°ros'])

In [36]:
# Jupyter notebookban a display() f√ºggv√©ny sz√©pen t√°bl√°zatosan jelen√≠ti meg az adatokat.
display(df)

     N√©v  Kor     V√°ros
0   Anna   23  Budapest
1   B√©la   45    Szeged
2  Csaba   32  Debrecen

 DataFrame l√©trehoz√°sa list√°k list√°j√°b√≥l

In [38]:
# Egy list√°t hozunk l√©tre, amelynek minden eleme egy √∫jabb lista.
# Minden bels≈ë lista egy adat-sor: [n√©v, kor, v√°ros].
adatok = [
    ['Anna', 23, 'Budapest'],
    ['B√©la', 45, 'Szeged'],
    ['Csaba', 32, 'Debrecen']
]

# A DataFrame l√©trehoz√°sakor:
# - az 'adatok' list√°t sorokk√©nt √©rtelmezi,
# - a 'columns' param√©terben adjuk meg az oszlopneveket.
df = pd.DataFrame(adatok, columns=['N√©v', 'Kor', 'V√°ros'])

# A DataFrame ki√≠rat√°sa a konzolra.
# (Jupyterben a display(df) szebb, t√°bl√°zatos form√°tumban mutatja.)
print(df)

     N√©v  Kor     V√°ros
0   Anna   23  Budapest
1   B√©la   45    Szeged
2  Csaba   32  Debrecen

 DataFrame l√©trehoz√°sa NumPy t√∂mbb≈ël

 Ha az adatokat NumPy t√∂mbk√©nt kapjuk meg (pl. g√©pi tanul√°si modellekb≈ël vagy matematikai m≈±veletekb≈ël), akkor a pandas.DataFrame() konstruktorral k√∂nnyen √°talak√≠thatjuk.

In [40]:
import numpy as np # A NumPy k√∂nyvt√°r import√°l√°sa (t√∂mb√∂k √©s matematikai m≈±veletek kezel√©s√©re)

# Egy NumPy t√∂mb (numpy.array) l√©trehoz√°sa.
# A t√∂mb minden sora egy ember adatait tartalmazza: [n√©v, kor, v√°ros].
numpy_array = np.array([
    ['Anna', 23, 'Budapest'],
    ['B√©la', 45, 'Szeged'],
    ['Csaba', 32, 'Debrecen']
])

# A NumPy t√∂mb√∂t √°tadjuk a pandas DataFrame konstruktor√°nak.
# A 'columns' param√©ter megadja az oszlopok neveit.
df = pd.DataFrame(numpy_array, columns=['N√©v', 'Kor', 'V√°ros'])


# A DataFrame ki√≠rat√°sa a konzolra.
# (Jupyterben √©rdemesebb a display(df)-et haszn√°lni.)
print(df)

     N√©v Kor     V√°ros
0   Anna  23  Budapest
1   B√©la  45    Szeged
2  Csaba  32  Debrecen

El≈ëny√∂k:

Ha a forr√°sadatokat NumPy t√∂mbk√©nt kapjuk meg (pl. g√©pi tanul√°si adatok), ezt a m√≥dszert haszn√°lhatjuk.
Gyorsabb lehet nagy adathalmazok eset√©n.

### DataFrame l√©trehoz√°sa/olvas√°s egy CSV f√°jlb√≥l

A val√≥ vil√°gban az adatokat gyakran CSV f√°jlokb√≥l olvassuk be. A pandas read_csv() f√ºggv√©nye erre a legjobb megold√°s.

In [45]:
# Egy CSV (Comma-Separated Values) f√°jl beolvas√°sa k√∂zvetlen√ºl az internetr≈ël.
# A pandas read_csv() f√ºggv√©nye automatikusan let√∂lti √©s beolvassa a t√°bl√°zatot DataFrame-k√©nt.
# az adat olvashat√≥ a b√°rmilyen ak√°r lok√°lis utvonalr√≥l is.
df = pd.read_csv('https://gist.github.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

# A head() f√ºggv√©ny alap√©rtelmezetten az els≈ë 5 sort mutatja.
# Ez hasznos, ha gyorsan √°t szeretn√©nk tekinteni, hogy milyen adatok vannak a t√°bl√°zatban.
display(df.head())  # Els≈ë 5 sor ki√≠rat√°sa

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

El≈ëny√∂k:

- Egyszer≈±, ha az adatokat k√ºls≈ë forr√°sb√≥l (pl. Excel, adatb√°zis) kapjuk meg.
- A pandas automatikusan kezeli a hi√°nyz√≥ √©rt√©keket.
- A szepar√°tor alap be√°llit√°s szerint a ",", amennyiben m√°s a szepar√°tor, √∫gy ezt jelezni kell. B≈ëvebben: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

### CSV f√°jl beolvas√°sa k√ºl√∂nb√∂z≈ë param√©terekkel

A val√≥ √©letben a CSV f√°jlok **nagyon elt√©r≈ë form√°tumokban** fordulhatnak el≈ë:  
- m√°s elv√°laszt√≥ jelet haszn√°lhatnak (`,` helyett `;` vagy tabul√°tor),  
- el≈ëfordulhat, hogy nincs fejl√©c, vagy nem az els≈ë sorban van,  
- lehetnek speci√°lis karakterek, √©kezetek, vagy hi√°nyz√≥ √©rt√©kek k√ºl√∂nb√∂z≈ë jel√∂l√©sekkel.  

A `pandas.read_csv()` f√ºggv√©ny sok param√©tert k√≠n√°l ezek kezel√©s√©re.  
N√©h√°ny gyakran haszn√°lt be√°ll√≠t√°s:  

- `sep` ‚Üí oszlopelv√°laszt√≥ karakter megad√°sa  
- `header` / `names` ‚Üí fejl√©c sora vagy saj√°t oszlopnevek  
- `index_col` ‚Üí melyik oszlop legyen index  
- `usecols` ‚Üí csak bizonyos oszlopok bet√∂lt√©se  
- `dtype` ‚Üí adatt√≠pusok el≈ë√≠r√°sa  
- `na_values` ‚Üí hi√°nyz√≥ adatok jel√∂l√©seinek megad√°sa  
- `skiprows`, `nrows` ‚Üí sorok kihagy√°sa / korl√°tozott sz√°m√∫ sor bet√∂lt√©se  
- `encoding` ‚Üí f√°jl k√≥dol√°sa (pl. √©kezetes bet≈±k miatt fontos lehet)

Az al√°bbi p√©ld√°ban bemutatjuk, hogyan lehet ezeket a param√©tereket haszn√°lni az adatbet√∂lt√©sn√©l.

In [51]:
# CSV beolvas√°sa k√ºl√∂nb√∂z≈ë hasznos param√©terekkel
df = pd.read_csv(
    'https://gist.github.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv',           # f√°jl el√©r√©si √∫tja vagy URL
    sep=",",              # oszlopelv√°laszt√≥ (pl. ";" vagy "\t" is lehet)
    header=0,             # melyik sort tekints√ºk fejl√©cnek (0 = els≈ë sor)
    names=None,           # ha nincs fejl√©c, mi adjuk meg az oszlopneveket pl. ['A','B','C']
    index_col=None,       # melyik oszlop legyen az index (pl. 'ID')
    usecols=None,         # ha csak bizonyos oszlopokra van sz√ºks√©g, pl. ['sepal.length','variety']
    dtype=None,           # adatt√≠pusok el≈ë√≠r√°sa, pl. {'sepal.length': float, 'variety': 'category'}
    na_values=["?", "NA"],# milyen √©rt√©keket kezeljen hi√°nyz√≥ adatnak
    skiprows=0,           # h√°ny sort hagyjunk ki a f√°jl elej√©r≈ël
    nrows=None,           # h√°ny sort olvassunk be (pl. tesztel√©shez nrows=100)
    encoding="utf-8"      # f√°jl k√≥dol√°sa (gyakran kell pl. "latin1" vagy "cp1250" magyar √©kezetekhez)
)

# Gyors ellen≈ërz√©s
print(df.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [53]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

### DataFrame l√©trehoz√°sa/olvas√°sa egy Excel f√°jlb√≥l

Ha az adatok Excel form√°tumban √©rhet≈ëk el, akkor a read_excel() f√ºggv√©nyt haszn√°lhatjuk.

In [57]:
# Excel f√°jl beolvas√°sa k√∂zvetlen√ºl egy URL-r≈ël.
# A pandas read_excel() f√ºggv√©ny hasonl√≥an m≈±k√∂dik, mint a read_csv(),
# de Excel f√°jlok (XLS, XLSX) kezel√©s√©re haszn√°ljuk.

# Fontos param√©terek k√∂z√ºl itt a 'sheet_name':
# - Egy Excel f√°jlban t√∂bb munkalap (sheet) is lehet.
# - A 'sheet_name' param√©terrel megadhatjuk, melyiket olvassuk be.
# - √ârt√©ke lehet: a munkalap neve (string), a sorsz√°ma (0-al kezd≈ëdik), vagy lista t√∂bb laphoz.
df = pd.read_excel('https://github.com/h2oai/h2o-2/raw/refs/heads/master/smalldata/iris/iris.xlsx', sheet_name='iris2.csv')  # Excel f√°jl beolvas√°sa
display(df.head())  # Els≈ë 5 sor

C:\Users\koros\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

   sepal_len  sepal_wid  petal_len  petal_wid        class
0        5.1        3.5        1.4        0.2  Iris-setosa
1        4.9        3.0        1.4        0.2  Iris-setosa
2        4.7        3.2        1.3        0.2  Iris-setosa
3        4.6        3.1        1.5        0.2  Iris-setosa
4        5.0        3.6        1.4        0.2  Iris-setosa

El≈ëny√∂k:

- Ha Excelb≈ël dolgozunk, ez a legjobb m√≥dszer.
- T√∂bb munkalapot is kezelhet√ºnk a sheet_name param√©terrel.

### Excel f√°jlok beolvas√°sa ‚Äì fontos param√©terek

Az Excel f√°jlok gyakran t√∂bb munkalapot, √ºres sorokat vagy vegyes form√°tumokat tartalmaznak.  
A `pandas.read_excel()` f√ºggv√©ny sok be√°ll√≠t√°st k√≠n√°l ezek kezel√©s√©re.  

**Gyakran haszn√°lt param√©terek:**

- `sheet_name` ‚Üí melyik munkalapot olvassuk be  
  - lehet n√©v (`"Sheet1"`), sorsz√°m (`0`), lista t√∂bb laphoz (`[0, "Adatok"]`), vagy `None` az √∂sszeshez  
- `header` ‚Üí melyik sor a fejl√©c (pl. `0`, vagy `None`, ha nincs fejl√©c)  
- `names` ‚Üí saj√°t oszlopnevek megad√°sa, ha a f√°jlban nincs fejl√©c  
- `index_col` ‚Üí melyik oszlop legyen az index (pl. `"ID"`)  
- `usecols` ‚Üí csak bizonyos oszlopokat t√∂lts√ºnk be (pl. `"A:C"` vagy lista: `["N√©v", "Kor"]`)  
- `skiprows` ‚Üí h√°ny sort hagyjunk ki a f√°jl elej√©r≈ël  
- `nrows` ‚Üí csak bizonyos sz√°m√∫ sor bet√∂lt√©se (pl. tesztel√©shez `nrows=100`)  
- `dtype` ‚Üí adatt√≠pusok el≈ë√≠r√°sa (pl. `{"Kor": int}`)  
- `na_values` ‚Üí mely √©rt√©keket tekints√ºk hi√°nyz√≥ adatnak (pl. `"NA"`, `"-"`)  
- `engine` ‚Üí az olvas√≥ motor: `openpyxl` (xlsx), `xlrd` (r√©gi xls), `odf` (ods f√°jlokhoz)  

üëâ Ezekkel a param√©terekkel rugalmasan kezelhetj√ºk a val√≥s, gyakran rendezetlen Excel f√°jlokat.

In [67]:
# Excel f√°jl beolvas√°sa k√ºl√∂nb√∂z≈ë param√©terekkel
df = pd.read_excel(
    "https://github.com/h2oai/h2o-2/raw/refs/heads/master/smalldata/iris/iris.xlsx",          # f√°jl el√©r√©si √∫tja vagy URL
    sheet_name="iris2.csv",  # megadhat√≥ a munkalap neve, sorsz√°ma vagy lista t√∂bb laphoz
    header=0,             # melyik sort tekints√ºk fejl√©cnek (0 = els≈ë sor)
    names=None,           # ha nincs fejl√©c, itt adhatjuk meg az oszlopneveket
    index_col=None,       # melyik oszlop legyen az index (pl. "ID")
    usecols=None,         # csak bizonyos oszlopok beolvas√°sa, pl. "A:C" vagy ["N√©v","Kor"]
    skiprows=0,           # h√°ny sort hagyjunk ki a f√°jl elej√©r≈ël
    nrows=None,           # csak bizonyos sz√°m√∫ sort olvassunk be (pl. nrows=100 tesztel√©shez)
    dtype=None,           # oszlopok adatt√≠pus√°nak be√°ll√≠t√°sa (pl. {"Kor": int})
    na_values=["NA","-"], # hi√°nyz√≥ adatok egyedi jel√∂l√©sei
    engine="openpyxl"     # beolvas√≥ motor (xlsx eset√©n gyakran "openpyxl", r√©gi xls-n√©l "xlrd")
)

print(df.head())

   sepal_len  sepal_wid  petal_len  petal_wid        class
0        5.1        3.5        1.4        0.2  Iris-setosa
1        4.9        3.0        1.4        0.2  Iris-setosa
2        4.7        3.2        1.3        0.2  Iris-setosa
3        4.6        3.1        1.5        0.2  Iris-setosa
4        5.0        3.6        1.4        0.2  Iris-setosa

C:\Users\koros\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [64]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sepal_len  150 non-null    float64
 1   sepal_wid  150 non-null    float64
 2   petal_len  150 non-null    float64
 3   petal_wid  150 non-null    float64
 4   class      150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

### DataFrame l√©trehoz√°sa/olvas√°sa JSON adatokb√≥l

Ha az adatokat web API-b√≥l vagy JSON f√°jlb√≥l kapjuk, akkor a read_json() f√ºggv√©nyt haszn√°lhatjuk.

In [69]:
# JSON f√°jl beolvas√°sa k√∂zvetlen√ºl egy URL-r≈ël.
# A JSON (JavaScript Object Notation) egy gyakran haszn√°lt form√°tum
# struktur√°lt adatok t√°rol√°s√°ra √©s cser√©j√©re (pl. webes API-kban).
# A pandas read_json() f√ºggv√©ny k√©pes a JSON-t k√∂zvetlen√ºl DataFrame-be alak√≠tani.
df = pd.read_json('https://github.com/domoritz/maps/raw/refs/heads/master/data/iris.json')  # JSON f√°jl beolvas√°sa
display(df.head())

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

El≈ëny√∂k:

- Kiv√°l√≥ API-adatok beolvas√°s√°ra.
- Gyors √©s k√∂nnyen olvashat√≥.

### JSON f√°jlok beolvas√°sa

A `pandas.read_json()` seg√≠ts√©g√©vel k√∂zvetlen√ºl bet√∂lthet√ºnk JSON form√°tum√∫ adatokat.  
A JSON (JavaScript Object Notation) elterjedt adatt√≠pus webes API-k √©s adatcser√©k eset√©ben.  

**Gyakran haszn√°lt param√©terek:**

- `orient` ‚Üí megadja az adatszerkezet t√≠pus√°t  
  - `"records"`: list√°k list√°ja (pl. `[{"a":1,"b":2}, {"a":3,"b":4}]`)  
  - `"columns"`: oszlop-alap√∫ t√°rol√°s  
  - `"index"`: indexelt t√°rol√°s  
- `typ` ‚Üí visszat√©r√©si t√≠pus: `"frame"` (DataFrame) vagy `"series"` (egyoszlopos adatokhoz)  
- `convert_dates` ‚Üí automatikusan d√°tum-t√≠pusra konvert√°lja az id≈ëb√©lyegeket  
- `lines` ‚Üí ha minden sor egy k√ºl√∂n JSON objektum (pl. log f√°jlokn√°l), akkor `lines=True`  
- `encoding` ‚Üí karakterk√≥dol√°s megad√°sa (pl. `"utf-8"`, `"latin1"`)  

üëâ A `read_json` k√ºl√∂n√∂sen hasznos, ha **webes API-kb√≥l** j√∂n az adat, mivel az API-k t√∂bbs√©ge JSON-t ad vissza.

In [75]:

# JSON f√°jl beolvas√°sa k√ºl√∂nb√∂z≈ë param√©terekkel
df = pd.read_json(
    'https://github.com/domoritz/maps/raw/refs/heads/master/data/iris.json',            # f√°jl el√©r√©si √∫tja vagy URL
    orient=None,            # adatok szervez√©se: 'records', 'columns', 'index' stb.
    typ="frame",            # az eredm√©ny t√≠pusa: 'frame' = DataFrame, 'series' = pandas Series
    convert_dates=True,     # d√°tumk√©nt √©rtelmezi a megfelel≈ë mez≈ëket
    keep_default_dates=True,# be√©p√≠tett d√°tumfelismer√©s enged√©lyez√©se
    precise_float=False,    # nagy pontoss√°g√∫ float √©rt√©kek meg≈ërz√©se
    lines=False,            # ha a JSON t√∂bb sorban van (1 sor = 1 rekord), akkor lines=True
    encoding="utf-8"        # a f√°jl k√≥dol√°sa
)

print(df.head())

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

### DataFrame l√©trehoz√°sa adatb√°zisb√≥l (SQL, Mongo, stb)

Ha az adatokat SQL adatb√°zisb√≥l szeretn√©nk beolvasni, haszn√°lhatjuk a pandas.read_sql() f√ºggv√©nyt.

```
import sqlite3

# Kapcsol√≥d√°s az adatb√°zishoz
conn = sqlite3.connect('adatbazis.db')

# SQL lek√©rdez√©s futtat√°sa √©s beolvas√°s DataFrame-be
df = pd.read_sql("SELECT * FROM felhasznalok", conn)

print(df.head())
```

El≈ëny√∂k:

- Ha az adatokat adatb√°zisban t√°roljuk, ez a legjobb m√≥dszer.
- Egyszer≈±en csatlakozhatunk MySQL, PostgreSQL vagy SQLite adatb√°zisokhoz.

### √ñsszegz√©s

Sz√≥t√°rb√≥l (dict)

In [84]:
import pandas as pd

# Adatok sz√≥t√°rk√©nt
data_dict = {
    "M√≥dszer": ["Sz√≥t√°r (dict)", "Lista (list of lists)", "List√°k zip() f√ºggv√©nnyel",
                "NumPy t√∂mb (array)", "CSV f√°jl", "Excel f√°jl", "JSON f√°jl", "SQL adatb√°zis"],
    "Haszn√°lat": ["Kis m√©ret≈± adatokhoz", "T√°bl√°zatos adatok", "Egyszer≈± list√°khoz",
                  "Matematikai m≈±veletek", "Val√≥s adathalmazok", "T√°bl√°zatos adatok",
                  "API-adatok beolvas√°sa", "Nagy adathalmazok"],
    "El≈ëny√∂k": ["Gyors √©s k√∂nnyen olvashat√≥", "K√∂nnyen √°talak√≠that√≥", "K√∂nnyen kombin√°lhat√≥ m√°s adatt√≠pusokkal",
                "Gyors feldolgoz√°s nagy adathalmazokn√°l", "K√∂nny≈± integr√°ci√≥ m√°s adatforr√°sokkal",
                "T√∂bb munkalapot is kezel", "K√∂nny≈± adatcsere", "Hat√©kony lek√©rdez√©sek"]
}

# DataFrame l√©trehoz√°sa
df_dict = pd.DataFrame(data_dict)
display(df_dict)

,M√≥dszer,Haszn√°lat,El≈ëny√∂k
0,Sz√≥t√°r (dict),Kis m√©ret≈± adatokhoz,Gyors √©s k√∂nnyen olvashat√≥
1,Lista (list of lists),T√°bl√°zatos adatok,K√∂nnyen √°talak√≠that√≥
2,List√°k zip() f√ºggv√©nnyel,Egyszer≈± list√°khoz,K√∂nnyen kombin√°lhat√≥ m√°s adatt√≠pusokkal
3,NumPy t√∂mb (array),Matematikai m≈±veletek,Gyors feldolgoz√°s nagy adathalmazokn√°l
4,CSV f√°jl,Val√≥s adathalmazok,K√∂nny≈± integr√°ci√≥ m√°s adatforr√°sokkal
5,Excel f√°jl,T√°bl√°zatos adatok,T√∂bb munkalapot is kezel
6,JSON f√°jl,API-adatok beolvas√°sa,K√∂nny≈± adatcsere
7,SQL adatb√°zis,Nagy adathalmazok,Hat√©kony lek√©rdez√©sek

Lista list√°kb√≥l

In [87]:
# Lista lista form√°tumban
data_list = [
    ["Sz√≥t√°r (dict)", "Kis m√©ret≈± adatokhoz", "Gyors √©s k√∂nnyen olvashat√≥"],
    ["Lista (list of lists)", "T√°bl√°zatos adatok", "K√∂nnyen √°talak√≠that√≥"],
    ["List√°k zip() f√ºggv√©nnyel", "Egyszer≈± list√°khoz", "K√∂nnyen kombin√°lhat√≥ m√°s adatt√≠pusokkal"],
    ["NumPy t√∂mb (array)", "Matematikai m≈±veletek", "Gyors feldolgoz√°s nagy adathalmazokn√°l"],
    ["CSV f√°jl", "Val√≥s adathalmazok", "K√∂nny≈± integr√°ci√≥ m√°s adatforr√°sokkal"],
    ["Excel f√°jl", "T√°bl√°zatos adatok", "T√∂bb munkalapot is kezel"],
    ["JSON f√°jl", "API-adatok beolvas√°sa", "K√∂nny≈± adatcsere"],
    ["SQL adatb√°zis", "Nagy adathalmazok", "Hat√©kony lek√©rdez√©sek"]
]

# DataFrame l√©trehoz√°sa
df_list = pd.DataFrame(data_list, columns=["M√≥dszer", "Haszn√°lat", "El≈ëny√∂k"])
display(df_list)

,M√≥dszer,Haszn√°lat,El≈ëny√∂k
0,Sz√≥t√°r (dict),Kis m√©ret≈± adatokhoz,Gyors √©s k√∂nnyen olvashat√≥
1,Lista (list of lists),T√°bl√°zatos adatok,K√∂nnyen √°talak√≠that√≥
2,List√°k zip() f√ºggv√©nnyel,Egyszer≈± list√°khoz,K√∂nnyen kombin√°lhat√≥ m√°s adatt√≠pusokkal
3,NumPy t√∂mb (array),Matematikai m≈±veletek,Gyors feldolgoz√°s nagy adathalmazokn√°l
4,CSV f√°jl,Val√≥s adathalmazok,K√∂nny≈± integr√°ci√≥ m√°s adatforr√°sokkal
5,Excel f√°jl,T√°bl√°zatos adatok,T√∂bb munkalapot is kezel
6,JSON f√°jl,API-adatok beolvas√°sa,K√∂nny≈± adatcsere
7,SQL adatb√°zis,Nagy adathalmazok,Hat√©kony lek√©rdez√©sek

List√°k zip() f√ºggv√©nnyel

In [90]:
# Adatok k√ºl√∂n list√°kban
methods = ["Sz√≥t√°r (dict)", "Lista (list of lists)", "List√°k zip() f√ºggv√©nnyel",
           "NumPy t√∂mb (array)", "CSV f√°jl", "Excel f√°jl", "JSON f√°jl", "SQL adatb√°zis"]

usage = ["Kis m√©ret≈± adatokhoz", "T√°bl√°zatos adatok", "Egyszer≈± list√°khoz",
         "Matematikai m≈±veletek", "Val√≥s adathalmazok", "T√°bl√°zatos adatok",
         "API-adatok beolvas√°sa", "Nagy adathalmazok"]

advantages = ["Gyors √©s k√∂nnyen olvashat√≥", "K√∂nnyen √°talak√≠that√≥", "K√∂nnyen kombin√°lhat√≥ m√°s adatt√≠pusokkal",
              "Gyors feldolgoz√°s nagy adathalmazokn√°l", "K√∂nny≈± integr√°ci√≥ m√°s adatforr√°sokkal",
              "T√∂bb munkalapot is kezel", "K√∂nny≈± adatcsere", "Hat√©kony lek√©rdez√©sek"]

# DataFrame l√©trehoz√°sa
df_zip = pd.DataFrame(zip(methods, usage, advantages), columns=["M√≥dszer", "Haszn√°lat", "El≈ëny√∂k"])
display(df_zip)

,M√≥dszer,Haszn√°lat,El≈ëny√∂k
0,Sz√≥t√°r (dict),Kis m√©ret≈± adatokhoz,Gyors √©s k√∂nnyen olvashat√≥
1,Lista (list of lists),T√°bl√°zatos adatok,K√∂nnyen √°talak√≠that√≥
2,List√°k zip() f√ºggv√©nnyel,Egyszer≈± list√°khoz,K√∂nnyen kombin√°lhat√≥ m√°s adatt√≠pusokkal
3,NumPy t√∂mb (array),Matematikai m≈±veletek,Gyors feldolgoz√°s nagy adathalmazokn√°l
4,CSV f√°jl,Val√≥s adathalmazok,K√∂nny≈± integr√°ci√≥ m√°s adatforr√°sokkal
5,Excel f√°jl,T√°bl√°zatos adatok,T√∂bb munkalapot is kezel
6,JSON f√°jl,API-adatok beolvas√°sa,K√∂nny≈± adatcsere
7,SQL adatb√°zis,Nagy adathalmazok,Hat√©kony lek√©rdez√©sek

 NumPy t√∂mbb≈ël

In [93]:
import numpy as np

# NumPy t√∂mb l√©trehoz√°sa
data_numpy = np.array(data_list)

# DataFrame l√©trehoz√°sa NumPy t√∂mbb≈ël
df_numpy = pd.DataFrame(data_numpy, columns=["M√≥dszer", "Haszn√°lat", "El≈ëny√∂k"])
display(df_numpy)

,M√≥dszer,Haszn√°lat,El≈ëny√∂k
0,Sz√≥t√°r (dict),Kis m√©ret≈± adatokhoz,Gyors √©s k√∂nnyen olvashat√≥
1,Lista (list of lists),T√°bl√°zatos adatok,K√∂nnyen √°talak√≠that√≥
2,List√°k zip() f√ºggv√©nnyel,Egyszer≈± list√°khoz,K√∂nnyen kombin√°lhat√≥ m√°s adatt√≠pusokkal
3,NumPy t√∂mb (array),Matematikai m≈±veletek,Gyors feldolgoz√°s nagy adathalmazokn√°l
4,CSV f√°jl,Val√≥s adathalmazok,K√∂nny≈± integr√°ci√≥ m√°s adatforr√°sokkal
5,Excel f√°jl,T√°bl√°zatos adatok,T√∂bb munkalapot is kezel
6,JSON f√°jl,API-adatok beolvas√°sa,K√∂nny≈± adatcsere
7,SQL adatb√°zis,Nagy adathalmazok,Hat√©kony lek√©rdez√©sek

JSON form√°tumb√≥l

In [96]:
import json

# JSON adat
json_data = json.dumps(data_dict)  # Python sz√≥t√°r JSON form√°tumba konvert√°l√°sa
df_json = pd.read_json(json_data)

display(df_json)

C:\Users\koros\AppData\Local\Temp\ipykernel_3632\4095617375.py:5: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_json = pd.read_json(json_data)

,M√≥dszer,Haszn√°lat,El≈ëny√∂k
0,Sz√≥t√°r (dict),Kis m√©ret≈± adatokhoz,Gyors √©s k√∂nnyen olvashat√≥
1,Lista (list of lists),T√°bl√°zatos adatok,K√∂nnyen √°talak√≠that√≥
2,List√°k zip() f√ºggv√©nnyel,Egyszer≈± list√°khoz,K√∂nnyen kombin√°lhat√≥ m√°s adatt√≠pusokkal
3,NumPy t√∂mb (array),Matematikai m≈±veletek,Gyors feldolgoz√°s nagy adathalmazokn√°l
4,CSV f√°jl,Val√≥s adathalmazok,K√∂nny≈± integr√°ci√≥ m√°s adatforr√°sokkal
5,Excel f√°jl,T√°bl√°zatos adatok,T√∂bb munkalapot is kezel
6,JSON f√°jl,API-adatok beolvas√°sa,K√∂nny≈± adatcsere
7,SQL adatb√°zis,Nagy adathalmazok,Hat√©kony lek√©rdez√©sek

### Az IRIS adathalmaz

Az Iris dataset egy klasszikus adathalmaz a g√©pi tanul√°s √©s adatelemz√©s vil√°g√°ban. Ez az adathalmaz 150 vir√°gmint√°t tartalmaz, amelyek h√°rom k√ºl√∂nb√∂z≈ë iris fajhoz tartoznak (setosa, versicolor, virginica).

Minden egyes vir√°gminta n√©gy jellemz≈ëvel rendelkezik:

- sepal.length (cs√©szelev√©l hossza, cm)
- sepal.width (cs√©szelev√©l sz√©less√©ge, cm)
- petal.length (szirom hossza, cm)
- petal.width (szirom sz√©less√©ge, cm)
- variety (az iris faj neve)

Adatok bet√∂lt√©se

In [100]:
import pandas as pd

# Iris dataset beolvas√°sa
df = pd.read_csv('https://gist.github.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

# Els≈ë 5 sor megtekint√©se
display(df.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

### Oszlopok el√©r√©se (Columns Selection)

### Egyetlen oszlop kiv√°laszt√°sa

Ha csak egy oszlopot szeretn√©nk el√©rni, akkor haszn√°lhatjuk a n√©v szerinti hivatkoz√°st:

In [104]:
display(df["sepal.length"])  # Cs√©szelev√©l hossza oszlop ki√≠r√°sa

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64

Ez egy Pandas Series objektumot ad vissza.

### T√∂bb oszlop kiv√°laszt√°sa

Ha t√∂bb oszlopot szeretn√©nk egyszerre el√©rni, akkor ezt egy list√°val adhatjuk meg:

In [108]:
df_subset = df[["sepal.length", "sepal.width"]]  # Kiv√°lasztunk k√©t oszlopot
display(df_subset.head())

   sepal.length  sepal.width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

### Oszlopok kiv√°laszt√°sa poz√≠ci√≥ alapj√°n (iloc)

N√©ha nem ismerj√ºk az oszlop nev√©t, hanem csak a poz√≠ci√≥j√°t. Erre val√≥ az .iloc:

In [111]:
display(df.iloc[:, 0])  # Az els≈ë oszlop ki√≠rat√°sa
display(df.iloc[:, [0, 1]])  # Az els≈ë √©s m√°sodik oszlop ki√≠rat√°sa

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64

     sepal.length  sepal.width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

### Sorok el√©r√©se (Rows Selection)

### Egy adott sor kiv√°laszt√°sa index alapj√°n

A .iloc[] seg√≠ts√©g√©vel sorsz√°m alapj√°n √©rhet√ºnk el sorokat:

In [115]:
display(df.iloc[0])  # Az els≈ë sor ki√≠rat√°sa

sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object

T√∂bb sor kiv√°laszt√°sa:

In [118]:
display(df.iloc[0:5])  # Az els≈ë 5 sor ki√≠rat√°sa

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

### Egy adott sor kiv√°laszt√°sa index n√©v alapj√°n (loc)

Ha az adatok tartalmaznak egyedi indexeket (pl. ID-ket vagy neveket), akkor loc[]-ot haszn√°lhatunk:

In [121]:
print(df.loc[0])  # Az els≈ë sor ki√≠rat√°sa n√©v szerinti indexel√©s alapj√°n

sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object

T√∂bb sor kiv√°laszt√°sa n√©v alapj√°n:

In [124]:
print(df.loc[[0, 1, 2]])  # Az els≈ë h√°rom sor lek√©r√©se

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

 ### Sorok sz≈±r√©se felt√©telek alapj√°n

 Ha p√©ld√°ul csak a Setosa fajt√°j√∫ mint√°kat szeretn√©nk lek√©rdezni:

In [127]:
df_setosa = df[df["variety"] == "Setosa"]
print(df_setosa.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

Ha t√∂bb felt√©telt szeretn√©nk alkalmazni (pl. csak a 5 cm-n√©l hosszabb cs√©szelev√©llel rendelkez≈ë Setosa p√©ld√°nyokat):

In [130]:
df_filtered = df[(df["variety"] == "Setosa") & (df["sepal.length"] > 5)]
print(df_filtered.head())

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
10           5.4          3.7           1.5          0.2  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa

### Oszlopok √©s sorok kombin√°lt kiv√°laszt√°sa

Ha konkr√©t sorokat √©s oszlopokat is szeretn√©nk kiv√°lasztani, kombin√°lhatjuk az .iloc[] vagy .loc[] met√≥dusokat:

In [133]:
print(df.iloc[0:5, 0:2])  # Az els≈ë 5 sor √©s az els≈ë 2 oszlop

   sepal.length  sepal.width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

Ha n√©v szerint szeretn√©nk sz≈±rni:

In [136]:
print(df.loc[0:5, ["sepal.length", "variety"]])  # Els≈ë 5 sor, √©s k√©t oszlop

   sepal.length variety
0           5.1  Setosa
1           4.9  Setosa
2           4.7  Setosa
3           4.6  Setosa
4           5.0  Setosa
5           5.4  Setosa

## Data Science projekt

Egy Data Science projekt els≈ë l√©p√©se mindig az adatok beolvas√°sa √©s az adatok alapvet≈ë vizsg√°lata. Miut√°n egy √∫j adathalmazt bet√∂lt√∂tt√ºnk, a k√∂vetkez≈ë m≈±veleteket szoktuk elv√©gezni:

### Adatok m√©ret√©nek √©s oszlopok list√°j√°nak ellen≈ërz√©se

Fontos megn√©zni, hogy h√°ny sor √©s h√°ny oszlop van az adathalmazban.

In [287]:
# Egy CSV (Comma-Separated Values) f√°jl beolvas√°sa k√∂zvetlen√ºl az internetr≈ël.
# A pandas read_csv() f√ºggv√©nye automatikusan let√∂lti √©s beolvassa a t√°bl√°zatot DataFrame-k√©nt.
# az adat olvashat√≥ a b√°rmilyen ak√°r lok√°lis utvonalr√≥l is.
df = pd.read_csv('https://gist.github.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

print(df.shape)  # Sorok √©s oszlopok sz√°ma
print(df.columns)  # Oszlopnevek list√°ja

(150, 5)
Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

### Alapvet≈ë statisztik√°k

A Pandas describe() f√ºggv√©nye gyors statisztikai √∂sszegz√©st ad a numerikus oszlopokra.

In [290]:
print(df.describe())

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Mit n√©z√ºnk itt?

- √Åtlag (mean): P√©ld√°ul az √°tlagos cs√©szelev√©l hossz 5.84 cm.
- Sz√≥r√°s (std): A cs√©szelev√©l hossza kb. 0.83 cm-es sz√≥r√°ssal v√°ltozik.
- Minimum √©s maximum (min, max): Seg√≠t az adatok sz√©ls≈ë√©rt√©keinek azonos√≠t√°s√°ban.
- Medi√°n (50%): Megmutatja az eloszl√°s k√∂z√©ppontj√°t.

### Hi√°nyz√≥ √©rt√©kek keres√©se

Gyakori probl√©ma, hogy egy adathalmazban hi√°nyz√≥ √©rt√©kek tal√°lhat√≥k. Ezt a isnull().sum() f√ºggv√©nnyel tudjuk ellen≈ërizni.

In [294]:
# A hi√°nyz√≥ √©rt√©kek (NaN) ellen≈ërz√©se az adathalmazban.
# - df.isnull() ‚Üí minden cell√°ra True/False √©rt√©ket ad vissza (True, ha az adott √©rt√©k hi√°nyzik).
# - df.isnull().sum() ‚Üí oszloponk√©nt √∂sszeadja a True √©rt√©keket,
#   √≠gy megkapjuk, hogy az egyes oszlopokban h√°ny hi√°nyz√≥ adat tal√°lhat√≥.
print(df.isnull().sum())

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

Mit n√©z√ºnk itt?

- Ha valamelyik oszlopban nem nulla √©rt√©kek vannak, akkor ott hi√°nyz√≥ adatok vannak.
- Ha lenne hi√°nyz√≥ adat, akkor df.fillna() vagy df.dropna()-val kezelhetn√©nk.

### Adatt√≠pusok √©s konverzi√≥k

Ellen≈ërizz√ºk az oszlopok adatt√≠pusait, hogy biztosak legy√ºnk abban, hogy a megfelel≈ë t√≠pust kaptuk.

In [298]:
print(df.dtypes)

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

Mit n√©z√ºnk itt?

- A sz√°moknak (float64) kell lenni√ºk.
- A "variety" oszlop sz√∂veg (object) t√≠pus√∫, ami megfelel≈ë.

### Egy oszlop statisztikai vizsg√°lata

A pandas lehet≈ës√©get ad arra, hogy **egy konkr√©t oszlopon** (Series-en) v√©gezz√ºnk alapvet≈ë statisztikai m≈±veleteket.  
Ez k√ºl√∂n√∂sen hasznos, ha egy v√°ltoz√≥ (p√©ld√°ul az `iris` dataset `sepal.length` oszlopa) eloszl√°s√°t szeretn√©nk gyorsan meg√©rteni.  

**Gyakran haszn√°lt f√ºggv√©nyek:**

- `.count()` ‚Üí a nem hi√°nyz√≥ √©rt√©kek sz√°ma  
- `.sum()` ‚Üí az oszlop √∂sszege  
- `.mean()` ‚Üí √°tlag  
- `.min()`, `.max()` ‚Üí legkisebb √©s legnagyobb √©rt√©k  
- `.median()` ‚Üí medi√°n (k√∂z√©ps≈ë √©rt√©k)  
- `.std()` ‚Üí sz√≥r√°s (sz√≥r√≥d√°s m√©rt√©ke)  
- `.describe()` ‚Üí √∂sszefoglal√≥ statisztika (count, mean, std, min, percentilisek, max)  

üëâ P√©ld√°ul az `iris` dataset `sepal.length` oszlop√°n r√∂gt√∂n l√°tszik, hogy:  
- 150 √©rt√©ket tartalmaz,  
- az √°tlag kb. **5.84**,  
- a minimum **4.3**, a maximum **7.9**.  


Tov√°bbi PANDAS lehet≈ës√©gek√©rt [katt ide](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

In [302]:
# Egy konkr√©t oszlop kiv√°laszt√°sa
col = df["sepal.length"]

# .count() ‚Üí nem hi√°nyz√≥ √©rt√©kek sz√°ma
print("Nem hi√°nyz√≥ √©rt√©kek sz√°ma:", col.count())

# .sum() ‚Üí az oszlop √©rt√©keinek √∂sszege
print("√ñsszeg:", col.sum())

# .mean() ‚Üí √°tlag
print("√Åtlag:", col.mean())

# .min() √©s .max() ‚Üí minimum √©s maximum
print("Minimum:", col.min())
print("Maximum:", col.max())

# .median() ‚Üí medi√°n (k√∂z√©ps≈ë √©rt√©k)
print("Medi√°n:", col.median())

# .std() ‚Üí sz√≥r√°s
print("Sz√≥r√°s:", col.std())

# .describe() ‚Üí √∂sszefoglal√≥ statisztika egy oszlopra
print("\nLe√≠r√≥ statisztika:\n", col.describe())

Nem hi√°nyz√≥ √©rt√©kek sz√°ma: 150
√ñsszeg: 876.5
√Åtlag: 5.843333333333334
Minimum: 4.3
Maximum: 7.9
Medi√°n: 5.8
Sz√≥r√°s: 0.8280661279778629

Le√≠r√≥ statisztika:
 count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal.length, dtype: float64

### Duplik√°lt sorok elt√°vol√≠t√°sa

Adatk√©szletekben gyakran el≈ëfordulnak **ism√©tl≈ëd≈ë sorok** (pl. ugyanaz a megfigyel√©s k√©tszer szerepel).  
A `drop_duplicates()` seg√≠ts√©g√©vel ezeket elt√°vol√≠thatjuk.

**Fontos param√©terek:**

- `subset` ‚Üí csak bizonyos oszlopok alapj√°n keresi a duplik√°tumokat  
  *(pl. `subset=["sepal.length","sepal.width"]` csak a vir√°g szirmait hasonl√≠tja √∂ssze)*  
- `keep` ‚Üí melyik el≈ëfordul√°st hagyja meg  
  - `"first"`: az els≈ë marad, a t√∂bbi t√∂rl≈ëdik (alap√©rtelmezett)  
  - `"last"`: az utols√≥ marad meg  
  - `False`: minden duplik√°tum t√∂rl≈ëdik  
- `inplace` ‚Üí `True` eset√©n k√∂zvetlen√ºl m√≥dos√≠tja az eredeti DataFrame-et  
- `ignore_index` ‚Üí √∫j indexet gener√°l a megtiszt√≠tott t√°bl√°zathoz  

üëâ Az `iris` datasetben ritk√°n vannak duplik√°tumok, de ez a m≈±velet √°ltal√°nos adat-el≈ëk√©sz√≠t√©si l√©p√©s.

In [305]:
print(df.duplicated().sum())  # H√°ny duplik√°lt sor van?

1

Ha lenne duplik√°lt adat:

In [308]:
# Duplik√°lt sorok elt√°vol√≠t√°sa a DataFrame-b≈ël
# Alap√©rtelmezetten a teljes sort hasonl√≠tja √∂ssze (minden oszlop √©rt√©k√©t).
df = df.drop_duplicates()

# Param√©terek:
# subset     ‚Üí csak bizonyos oszlopokat vesz figyelembe az √∂sszehasonl√≠t√°sn√°l
#              pl. df.drop_duplicates(subset=["sepal.length", "sepal.width"])
#
# keep       ‚Üí megadhatjuk, melyik el≈ëfordul√°st tartsuk meg:
#              'first' (alap√©rtelmezett) ‚Üí az els≈ë el≈ëfordul√°s marad meg
#              'last' ‚Üí az utols√≥ el≈ëfordul√°s marad meg
#              False ‚Üí minden duplik√°tum elt√°vol√≠t√°sra ker√ºl
#
# inplace    ‚Üí ha True, akkor a m≈±velet k√∂zvetlen√ºl az eredeti DataFrame-en hajt√≥dik v√©gre
#              (nem ad vissza √∫j p√©ld√°nyt, hanem m√≥dos√≠tja a megl√©v≈ët)
#
# ignore_index ‚Üí ha True, √∫jrasz√°mozza az indexet a tiszt√≠tott DataFrame-ben

Mit n√©z√ºnk itt?

- Ha duplik√°lt adatok vannak, akkor el kell t√°vol√≠tani ≈ëket, hogy ne torz√≠ts√°k az elemz√©st.

### Egyedi √©rt√©kek vizsg√°lata

A variety oszlopban milyen egyedi √©rt√©kek tal√°lhat√≥k?

In [312]:
print(df["variety"].unique())

['Setosa' 'Versicolor' 'Virginica']

Mit n√©z√ºnk itt?

- Az adatok tartalmazz√°k-e az √∂sszes elv√°rt kateg√≥ri√°t?
- Ha pl. egy "XYZ" nev≈± faj szerepelne, az gyan√∫s lenne.

Ha az egyes kateg√≥ri√°k gyakoris√°g√°t szeretn√©nk l√°tni:

In [316]:
print(df["variety"].value_counts())

variety
Setosa        50
Versicolor    50
Virginica     49
Name: count, dtype: int64

Mit n√©z√ºnk itt?
-  Ellen≈ërizz√ºk, hogy az eloszl√°s egyenletes-e.

### Alapvet≈ë oszlopm≈±veletek

Az oszlopokkal v√©gzett m≈±veletek seg√≠tenek az adatokat jobban √©rthet≈ë form√°ba hozni.

### √öj oszlop l√©trehoz√°sa

P√©ld√°ul l√©trehozhatunk egy √∫j oszlopot, amely a cs√©szelev√©l hossz√°nak √©s sz√©less√©g√©nek szorzata:

In [321]:
df["sepal.area"] = df["sepal.length"] * df["sepal.width"]
display(df.head())

   sepal.length  sepal.width  petal.length  petal.width variety  sepal.area
0           5.1          3.5           1.4          0.2  Setosa       17.85
1           4.9          3.0           1.4          0.2  Setosa       14.70
2           4.7          3.2           1.3          0.2  Setosa       15.04
3           4.6          3.1           1.5          0.2  Setosa       14.26
4           5.0          3.6           1.4          0.2  Setosa       18.00

Mi√©rt hasznos?

- Seg√≠t az adatok b≈ëv√≠t√©s√©ben (p√©ld√°ul egy ter√ºlet sz√°m√≠t√°s).
- Haszn√°lhat√≥ tov√°bbi elemz√©sekhez.

### Oszlopok √°tnevez√©se
El≈ëfordulhat, hogy az oszlopnevek nem megfelel≈ëek vagy t√∫l hossz√∫ak.

In [325]:
df = df.rename(columns={"sepal.length": "sepal_length", "sepal.width": "sepal_width"})
display(df.head())

   sepal_length  sepal_width  petal.length  petal.width variety  sepal.area
0           5.1          3.5           1.4          0.2  Setosa       17.85
1           4.9          3.0           1.4          0.2  Setosa       14.70
2           4.7          3.2           1.3          0.2  Setosa       15.04
3           4.6          3.1           1.5          0.2  Setosa       14.26
4           5.0          3.6           1.4          0.2  Setosa       18.00

### Oszlopok t√∂rl√©se

Ha egy oszlopra nincs sz√ºks√©g√ºnk, t√∂r√∂lhetj√ºk.

In [328]:
df = df.drop(columns=["sepal.area"])
display(df.head())

   sepal_length  sepal_width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

### Adattranszform√°ci√≥k

Az adatok √°talak√≠t√°sa gyakran sz√ºks√©ges az elemz√©sekhez.

### Norm√°liz√°l√°s (Min-Max sk√°l√°z√°s)
P√©ld√°ul a cs√©szelev√©l hossz√°t sk√°l√°zhatjuk 0 √©s 1 k√∂z√©.

In [332]:
# √öj oszlop l√©trehoz√°sa a DataFrame-ben: 'sepal_length_scaled'
# Itt a 'sepal_length' oszlop √©rt√©keit sk√°l√°zzuk 0 √©s 1 k√∂z√© (min-max normaliz√°l√°s).
#
# A k√©plet: (x - min) / (max - min)
# - x: az aktu√°lis √©rt√©k
# - min: az oszlop legkisebb √©rt√©ke
# - max: az oszlop legnagyobb √©rt√©ke
#
# Ennek eredm√©nye:
# - a legkisebb √©rt√©k 0 lesz
# - a legnagyobb √©rt√©k 1 lesz
# - a t√∂bbi √©rt√©k 0 √©s 1 k√∂z√© esik
#
# Ez egy gyakran haszn√°lt el≈ëfeldolgoz√°si l√©p√©s g√©pi tanul√°sn√°l, mert
# sok algoritmus √©rz√©keny a v√°ltoz√≥k k√ºl√∂nb√∂z≈ë sk√°l√°ira.

df["sepal_length_scaled"] = (df["sepal_length"] - df["sepal_length"].min()) / (df["sepal_length"].max() - df["sepal_length"].min())
display(df.head())

,sepal_length,sepal_width,petal.length,petal.width,variety,sepal_length_scaled
0,5.1,3.5,1.4,0.2,Setosa,0.222222
1,4.9,3.0,1.4,0.2,Setosa,0.166667
2,4.7,3.2,1.3,0.2,Setosa,0.111111
3,4.6,3.1,1.5,0.2,Setosa,0.083333
4,5.0,3.6,1.4,0.2,Setosa,0.194444

Mi√©rt hasznos?

- G√©pi tanul√°s el≈ëtt az adatokat egy k√∂z√∂s sk√°l√°ra kell hozni.

### A lambda f√ºggv√©ny m≈±k√∂d√©se Pythonban

A lambda f√ºggv√©ny egy egysoros, n√©vtelen f√ºggv√©ny, amelyet r√∂vid, egyszer≈± m≈±veletek v√©grehajt√°s√°ra haszn√°lunk. A szintaxisa:

```
lambda param√©terek: kifejez√©s

```
Ez a f√ºggv√©ny automatikusan visszat√©r√©si √©rt√©ket ad, teh√°t nincs sz√ºks√©g return kulcssz√≥ra.

### Egyszer≈± lambda f√ºggv√©ny p√©ld√°k

K√©tszerez√©s lambda f√ºggv√©nnyel

Egy hagyom√°nyos f√ºggv√©ny:

In [337]:
def dupl√°z(x):
    return x * 2

print(dupl√°z(5))  # Kimenet: 10

10

Ugyanezt lambda f√ºggv√©nnyel:

In [340]:
dupl√°z = lambda x: x * 2
print(dupl√°z(5))  # Kimenet: 10

10

Mi t√∂rt√©nik itt?

- A lambda x: x * 2 egy n√©vtelen f√ºggv√©ny, amely egy bemeneti x √©rt√©ket fogad √©s visszaadja x * 2 √©rt√©k√©t.

### Felt√©teles oszlop l√©trehoz√°sa

Megjel√∂lhetj√ºk, hogy a cs√©szelev√©l hossz r√∂vid vagy hossz√∫.

K√©t sz√°m √∂sszead√°sa

In [345]:
osszead = lambda a, b: a + b # k√©t param√©tert v√°r (a, b) √©s visszaadja az √∂sszeg√ºket
print(osszead(3, 7))  # Kimenet: 10

10

### Felt√©teles lambda f√ºggv√©ny
Ha egy sz√°m p√°ros vagy p√°ratlan, azt egy lambda f√ºggv√©nnyel ellen≈ërizhetj√ºk:

In [348]:
# Egy lambda f√ºggv√©ny, amely eld√∂nti, hogy egy sz√°m p√°ros vagy p√°ratlan.
# Szintaxis: lambda bemenet: kifejez√©s
# A kifejez√©sben itt felt√©teles szerkezetet (if-else) haszn√°lunk.
paros_vagy_paratlan = lambda x: "P√°ros" if x % 2 == 0 else "P√°ratlan"
# Magyar√°zat:
# - x % 2 == 0 ‚Üí igaz, ha x oszthat√≥ 2-vel, vagyis p√°ros
# - ha igaz ‚Üí "P√°ros" sz√∂veget ad vissza
# - ha hamis ‚Üí "P√°ratlan" sz√∂veget ad vissza

print(paros_vagy_paratlan(4))  # Kimenet: "P√°ros"
print(paros_vagy_paratlan(5))  # Kimenet: "P√°ratlan"

P√°ros
P√°ratlan

Mit csin√°l ez?

- Ha x oszthat√≥ 2-vel, akkor "P√°ros" lesz a kimenet.
- Ha nem, akkor "P√°ratlan".

### Lambda a Pandas-ban
A lambda f√ºggv√©nyt gyakran haszn√°ljuk Pandas DataFrame-ekkel, f≈ëleg az apply() met√≥dussal.

### Egy oszlop minden elem√©nek transzform√°ci√≥ja

A cs√©szelev√©l hossz√°nak minden elem√©t centim√©terb≈ël millim√©terbe alak√≠tjuk.

In [353]:
df["sepal_length_mm"] = df["sepal_length"].apply(lambda x: x * 10)
display(df.head())

,sepal_length,sepal_width,petal.length,petal.width,variety,sepal_length_scaled,sepal_length_mm
0,5.1,3.5,1.4,0.2,Setosa,0.222222,51.0
1,4.9,3.0,1.4,0.2,Setosa,0.166667,49.0
2,4.7,3.2,1.3,0.2,Setosa,0.111111,47.0
3,4.6,3.1,1.5,0.2,Setosa,0.083333,46.0
4,5.0,3.6,1.4,0.2,Setosa,0.194444,50.0

 Mi t√∂rt√©nik itt?

- apply(lambda x: x * 10): A lambda f√ºggv√©ny minden sorban megkapja az x √©rt√©ket (a sepal_length √©rt√©k√©t) √©s megszorozza 10-zel.
- Az eredm√©nyt egy √∫j oszlopba (sepal_length_mm) mentj√ºk.

### Kateg√≥ri√°k l√©trehoz√°sa lambda seg√≠ts√©g√©vel
A cs√©szelev√©l hossz alapj√°n szeretn√©nk minden mint√°t "R√∂vid" vagy "Hossz√∫" kateg√≥ri√°ba sorolni.

In [357]:
df["sepal_category"] = df["sepal_length"].apply(lambda x: "Hossz√∫" if x > df["sepal_length"].median() else "R√∂vid")
display(df.head())

,sepal_length,sepal_width,petal.length,petal.width,variety,sepal_length_scaled,sepal_length_mm,sepal_category
0,5.1,3.5,1.4,0.2,Setosa,0.222222,51.0,R√∂vid
1,4.9,3.0,1.4,0.2,Setosa,0.166667,49.0,R√∂vid
2,4.7,3.2,1.3,0.2,Setosa,0.111111,47.0,R√∂vid
3,4.6,3.1,1.5,0.2,Setosa,0.083333,46.0,R√∂vid
4,5.0,3.6,1.4,0.2,Setosa,0.194444,50.0,R√∂vid

Mi√©rt hasznos?

- Kateg√≥ri√°kat hozhatunk l√©tre numerikus √©rt√©kekb≈ël.

### T√∂bb oszlop egyidej≈± m√≥dos√≠t√°sa
A cs√©szelev√©l √©s szirom hossz√°t egy √∫j oszlopba √∂sszeadjuk.

In [361]:
df["total_length"] = df.apply(lambda row: row["sepal_length"] + row["petal.length"], axis=1)
display(df.head())

,sepal_length,sepal_width,petal.length,petal.width,variety,sepal_length_scaled,sepal_length_mm,sepal_category,total_length
0,5.1,3.5,1.4,0.2,Setosa,0.222222,51.0,R√∂vid,6.5
1,4.9,3.0,1.4,0.2,Setosa,0.166667,49.0,R√∂vid,6.3
2,4.7,3.2,1.3,0.2,Setosa,0.111111,47.0,R√∂vid,6.0
3,4.6,3.1,1.5,0.2,Setosa,0.083333,46.0,R√∂vid,6.1
4,5.0,3.6,1.4,0.2,Setosa,0.194444,50.0,R√∂vid,6.4

Mi t√∂rt√©nik itt?

- Az apply() az eg√©sz oszlopon (column) dolgozik (axis=1).
- A lambda f√ºggv√©ny hozz√°adja a sepal.length √©s petal.length √©rt√©keket.

### Felt√©teles m√≥dos√≠t√°s (lambda √©s map())
Egy numerikus oszlopot sz√∂veges √©rt√©kre alak√≠tunk.

In [365]:
# √öj oszlop l√©trehoz√°sa: 'variety_numeric'
# A 'variety' oszlop kateg√≥ri√°it (sz√∂veges √©rt√©kek) alak√≠tjuk √°t sz√°mokk√°.
#
# A .map() minden elemre alkalmazza a lambda f√ºggv√©nyt:
# - ha az √©rt√©k "Setosa", akkor 0
# - ha "Versicolor", akkor 1
# - egy√©bk√©nt (teh√°t "Virginica") akkor 2
#
# Ez egy egyszer≈± p√©ld√°ja a kateg√≥ri√°k k√≥dol√°s√°nak (label encoding).

df["variety_numeric"] = df["variety"].map(lambda x: 0 if x == "Setosa" else (1 if x == "Versicolor" else 2))
display(df[["variety", "variety_numeric"]].head())

  variety  variety_numeric
0  Setosa                0
1  Setosa                0
2  Setosa                0
3  Setosa                0
4  Setosa                0

Mit csin√°l ez?

- "Setosa" ‚Üí 0
- "Versicolor" ‚Üí 1
- "Virginica" ‚Üí 2
- Ez seg√≠thet g√©pi tanul√°si modellek el≈ëk√©sz√≠t√©s√©ben.

### Az `map()` f√ºggv√©ny haszn√°lata

A `map()` f√ºggv√©ny egy pandas **Series** minden elem√©re alkalmaz egy f√ºggv√©nyt vagy szab√°lyt.  
Ez nagyon hasznos, ha minden √©rt√©ket √°t akarunk alak√≠tani, m√≥dos√≠tani vagy k√≥dolni.  

**P√©lda:**

- Eredeti sorozat: `[1, 2, 3, 4, 5]`  
- `map(lambda x: x * 10)` ‚Üí minden elemet megszoroz 10-zel  
- Eredm√©ny: `[10, 20, 30, 40, 50]`  

üëâ A `map()` teh√°t **elem-szinten** dolgozik, √©s minden √©rt√©ket √°talak√≠t a megadott szab√°ly szerint.  
Ez lehet egyszer≈± m≈±velet (szorz√°s, √∂sszead√°s), de ak√°r felt√©teles logika (if-else) is.

In [369]:
# Egyszer≈± sorozat (Series) sz√°mokkal
sorozat = pd.Series([1, 2, 3, 4, 5])

# A map() minden elemre alkalmaz egy f√ºggv√©nyt.
# Itt: minden sz√°mot megszorozunk 10-zel.
uj_sorozat = sorozat.map(lambda x: x * 10)

print("Eredeti sorozat:")
print(sorozat)
print("\n√Åtalak√≠tott sorozat:")
print(uj_sorozat)

Eredeti sorozat:
0    1
1    2
2    3
3    4
4    5
dtype: int64

√Åtalak√≠tott sorozat:
0    10
1    20
2    30
3    40
4    50
dtype: int64

### Az `apply()` f√ºggv√©ny

Az `apply()` sokoldal√∫bb, mint a `map()`.  
- **Series-en** ‚Üí hasonl√≥an m≈±k√∂dik, mint a `map()`: minden elemre alkalmazza a f√ºggv√©nyt.  
- **DataFrame-en** ‚Üí oszlopokra vagy sorokra is alkalmazhat√≥.

**Fontos param√©ter:**
- `axis=0` (alap√©rtelmezett) ‚Üí oszloponk√©nt futtatja a f√ºggv√©nyt  
- `axis=1` ‚Üí soronk√©nt futtatja a f√ºggv√©nyt  

**P√©ld√°k:**
- `df["A"].apply(lambda x: x**2)` ‚Üí az `A` oszlop minden elem√©t n√©gyzetre emeli  
- `df.apply(sum, axis=0)` ‚Üí minden oszlop √∂sszeg√©t adja meg  
- `df.apply(sum, axis=1)` ‚Üí minden sor √∂sszeg√©t adja meg  

üëâ Az `apply()` nagyon hasznos, ha **saj√°t f√ºggv√©nyt** szeretn√©nk alkalmazni az adatokra, ak√°r sor-, ak√°r oszlopszinten.

In [371]:
# Kis minta DataFrame
df_t = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [10, 20, 30]
})

# apply() egy Series-en (hasonl√≥ a map-hoz)
df_t["A_squared"] = df_t["A"].apply(lambda x: x**2)

# apply() egy DataFrame-en
# axis=0 ‚Üí oszlopokra alkalmazza a f√ºggv√©nyt
oszlop_osszeg = df_t.apply(sum, axis=0)

# axis=1 ‚Üí sorokra alkalmazza a f√ºggv√©nyt
sor_osszeg = df_t.apply(sum, axis=1)

print("Oszloponk√©nti √∂sszeg:\n", oszlop_osszeg)
print("\nSoronkenti √∂sszeg:\n", sor_osszeg)

Oszloponk√©nti √∂sszeg:
 A             6
B            60
A_squared    14
dtype: int64

Soronkenti √∂sszeg:
 0    12
1    26
2    42
dtype: int64

A .map() √©s az .apply() t√©nyleg hasonl√≥, de van k√∂zt√ºk fontos k√ºl√∂nbs√©g.

K√ºl√∂nbs√©g map() √©s apply() k√∂z√∂tt Series-en

In [374]:
uj1 = sorozat.map(lambda x: x * 10)    # m≈±k√∂dik
uj2 = sorozat.apply(lambda x: x * 10)  # m≈±k√∂dik

.map()
 - kiz√°r√≥lag Series-re vonatkozik, √©s elem-szinten futtatja le a f√ºggv√©nyt.
 - egyszer≈±bb, gyorsabb, ha minden egyes elemet k√ºl√∂n akarunk √°talak√≠tani.

.apply() ‚Üí √°ltal√°nosabb:
 - haszn√°lhat√≥ Series-en is (ekkor hasonl√≥, mint a .map()),
 - de haszn√°lhat√≥ DataFrame-en is, ahol sorokra vagy oszlopokra is lehet f√ºggv√©nyt alkalmazni (axis=0 / axis=1).

### Csoportos√≠t√°s √©s aggreg√°ci√≥ (groupby())


A `groupby` lehet≈ëv√© teszi, hogy az adatokat **csoportos√≠tsuk** egy vagy t√∂bb oszlop alapj√°n,  
majd minden csoportra valamilyen √∂sszes√≠t√©st sz√°moljunk (pl. √∂sszeg, √°tlag, darabsz√°m).

**Alap szintaxis:**
```python
df.groupby("Oszlopn√©v")["M√°sikOszlop"].f√ºggv√©ny()

### √Åtlagok sz√°m√≠t√°sa fajonk√©nt
N√©zz√ºk meg, hogy az √°tlagos cs√©szelev√©l hossz hogyan v√°ltozik a h√°rom Iris faj k√∂z√∂tt.

In [380]:
df_grouped = df.groupby("variety")["sepal_length"].mean()
print(df_grouped)

variety
Setosa        5.006000
Versicolor    5.936000
Virginica     6.604082
Name: sepal_length, dtype: float64

Mi√©rt hasznos?

- Megmutatja, hogy a k√ºl√∂nb√∂z≈ë fajok k√∂z√∂tt elt√©r√©sek vannak a cs√©szelev√©l hossz√°ban.

### √ñsszes numerikus oszlop kiv√°laszt√°sa

In [384]:
# Numerikus oszlopok kiv√°laszt√°sa
numerikus_oszlopok = df.select_dtypes(include=["number"]).columns
numerikus_oszlopok

Index(['sepal_length', 'sepal_width', 'petal.length', 'petal.width',
       'sepal_length_scaled', 'sepal_length_mm', 'total_length',
       'variety_numeric'],
      dtype='object')

### Csak nem numerikus oszlopok kiv√°laszt√°sa

Ha azokat az oszlopokat szeretn√©nk megkapni, amelyek nem numerikusak:

In [387]:
nem_numerikus_oszlopok = df.select_dtypes(exclude=["number"]).columns
nem_numerikus_oszlopok

Index(['variety', 'sepal_category'], dtype='object')

### T√∂bb aggreg√°ci√≥ egyben
N√©zz√ºk meg az √°tlagot √©s sz√≥r√°st minden oszlopra fajonk√©nt.

In [390]:
megfigyelt_oszlopok = list(numerikus_oszlopok[:4]) + list(nem_numerikus_oszlopok[:1])
megfigyelt_oszlopok

['sepal_length', 'sepal_width', 'petal.length', 'petal.width', 'variety']

In [392]:
df_grouped = df.loc[:,megfigyelt_oszlopok].groupby('variety').agg(["mean", "std"])
display(df_grouped)

           sepal_length           sepal_width           petal.length  \
                   mean       std        mean       std         mean
variety
Setosa         5.006000  0.352490    3.428000  0.379064     1.462000
Versicolor     5.936000  0.516171    2.770000  0.313798     4.260000
Virginica      6.604082  0.632113    2.979592  0.323380     5.561224

                     petal.width
                 std        mean       std
variety
Setosa      0.173664    0.246000  0.105386
Versicolor  0.469911    1.326000  0.197753
Virginica   0.553706    2.028571  0.276887

Mi√©rt hasznos?

- Egyszerre t√∂bb statisztikai mutat√≥t l√°thatunk.

### T√∂bb oszlop aggreg√°l√°sa elt√©r≈ë statisztik√°kkal

Megn√©zhetj√ºk a cs√©szelev√©l hossz√°nak √°tlag√°t √©s a szirom hossz√°nak maxim√°lis √©rt√©k√©t fajonk√©nt.

In [396]:
df_grouped = df.loc[:,megfigyelt_oszlopok].groupby("variety").agg({
    "sepal_length": "mean",
    "petal.length": "max"
})
print(df_grouped)

            sepal_length  petal.length
variety
Setosa          5.006000           1.9
Versicolor      5.936000           5.1
Virginica       6.604082           6.9

Mi√©rt hasznos?

- K√ºl√∂nb√∂z≈ë metrik√°k haszn√°lhat√≥k egyszerre.

### Csoportok m√©ret√©nek ellen≈ërz√©se

Ha tudni szeretn√©nk, hogy h√°ny minta tartozik egy-egy csoportba, haszn√°ljuk a size() f√ºggv√©nyt:

In [400]:
df_grouped = df.loc[:,megfigyelt_oszlopok].groupby("variety").size()
print(df_grouped)

variety
Setosa        50
Versicolor    50
Virginica     49
dtype: int64

Mi√©rt hasznos?

- Ellen≈ërizhetj√ºk, hogy az adathalmaz kiegyens√∫lyozott-e.

### Sz≈±r√©s √©s rendez√©s
A groupby() ut√°n gyakran szeretn√©nk rendezni vagy sz≈±rni az adatokat.

## Sz≈±r√©s egy felt√©tel alapj√°n
P√©ld√°ul csak a 6 cm-n√©l hosszabb cs√©szelev√©llel rendelkez≈ë p√©ld√°nyokat n√©zz√ºk:

In [405]:
df_filtered = df[df["sepal_length"] > 6]
display(df_filtered.head())

,sepal_length,sepal_width,petal.length,petal.width,variety,sepal_length_scaled,sepal_length_mm,sepal_category,total_length,variety_numeric
50,7.0,3.2,4.7,1.4,Versicolor,0.750000,70.0,Hossz√∫,11.7,1
51,6.4,3.2,4.5,1.5,Versicolor,0.583333,64.0,Hossz√∫,10.9,1
52,6.9,3.1,4.9,1.5,Versicolor,0.722222,69.0,Hossz√∫,11.8,1
54,6.5,2.8,4.6,1.5,Versicolor,0.611111,65.0,Hossz√∫,11.1,1
56,6.3,3.3,4.7,1.6,Versicolor,0.555556,63.0,Hossz√∫,11.0,1

Mi√©rt hasznos?

- Kisz≈±rhetj√ºk azokat az adatokat, amelyek megfelelnek egy bizonyos krit√©riumnak.

### Rendez√©s cs√∂kken≈ë sorrendben
Ha az adathalmazt cs√©szelev√©l hossz szerint cs√∂kken≈ë sorrendbe akarjuk rendezni:

In [409]:
df_sorted = df.sort_values(by="sepal_length", ascending=False)
display(df_sorted.head())

,sepal_length,sepal_width,petal.length,petal.width,variety,sepal_length_scaled,sepal_length_mm,sepal_category,total_length,variety_numeric
131,7.9,3.8,6.4,2.0,Virginica,1.000000,79.0,Hossz√∫,14.3,2
135,7.7,3.0,6.1,2.3,Virginica,0.944444,77.0,Hossz√∫,13.8,2
117,7.7,3.8,6.7,2.2,Virginica,0.944444,77.0,Hossz√∫,14.4,2
118,7.7,2.6,6.9,2.3,Virginica,0.944444,77.0,Hossz√∫,14.6,2
122,7.7,2.8,6.7,2.0,Virginica,0.944444,77.0,Hossz√∫,14.4,2

### lambda √©s groupby() kombin√°l√°sa

A lambda f√ºggv√©nyt groupby() m≈±veletekn√©l is haszn√°lhatjuk, p√©ld√°ul egyedi aggreg√°ci√≥k l√©trehoz√°s√°ra.

### Sz√°zal√©kos n√∂veked√©s sz√°m√≠t√°sa fajonk√©nt
Megn√©zz√ºk, hogy az √°tlagos cs√©szelev√©l hossz mennyiben t√©r el a teljes √°tlagt√≥l minden fajn√°l.

In [413]:
df = df.loc[:,megfigyelt_oszlopok]

In [417]:
df_grouped = (
    df.groupby("variety")["sepal_length"].mean()   # 1. √Åtlagos cs√©szelev√©l-hossz fajt√°nk√©nt
      .apply(lambda x: 
             (x - df["sepal_length"].mean())       # 2. K√ºl√∂nbs√©g az √°ltal√°nos √°tlagt√≥l
             / df["sepal_length"].mean() * 100)    # 3. Elt√©r√©s sz√°zal√©kban
)

display(df_grouped)

variety
Setosa       -14.333984
Versicolor     1.580797
Virginica     13.013456
Name: sepal_length, dtype: float64

Mi t√∂rt√©nik itt?

- groupby("variety")["sepal_length"].mean(): Kisz√°m√≠tjuk az √°tlagos cs√©szelev√©l hosszt fajonk√©nt.
- apply(lambda x: (x - glob√°lis √°tlag) / glob√°lis √°tlag * 100): Kisz√°m√≠tjuk a sz√°zal√©kos elt√©r√©st az √∂sszes minta √°tlag√°hoz k√©pest.

### Egyedi statisztik√°k sz√°m√≠t√°sa fajonk√©nt
Megn√©zz√ºk, hogy a szirom hossz√°nak √°tlagos √©rt√©ke hogyan v√°ltozik fajonk√©nt.

In [420]:
df_grouped = df.groupby("variety").agg(
    avg_petal_length=("petal.length", "mean"),   # 1 fajonk√©nti √°tlagos sziromhossz
    petal_length_category=(                     # 2 kategoriz√°l√°s √°tlag alapj√°n
        "petal.length",
        lambda x: "R√∂vid" if x.mean() < df["petal.length"].median() else "Hossz√∫"
    )
)

display(df_grouped)

            avg_petal_length petal_length_category
variety
Setosa              1.462000                 R√∂vid
Versicolor          4.260000                 R√∂vid
Virginica           5.561224                Hossz√∫

Mi t√∂rt√©nik itt?

- √Åtlag sz√°m√≠t√°sa: ("petal.length", "mean")
- Kategoriz√°l√°s lambda seg√≠ts√©g√©vel:
- Ha az adott faj √°tlagos sziromhossza kisebb, mint a teljes medi√°n, akkor "R√∂vid", egy√©bk√©nt "Hossz√∫".

## Mi lehet m√©g fotos?

Vizualiz√°ci√≥n k√≠v√ºl az al√°bbi fontos adatfeldolgoz√°si √©s elemz√©si l√©p√©sek m√©g kimaradtak, amelyeket egy Data Science projekt elej√©n gyakran v√©gz√ºnk:

## Kateg√≥ri√°k √©s sz√∂veges adatok feldolgoz√°sa

B√°r az Iris dataset nagyr√©szt numerikus adatokat tartalmaz, van egy kateg√≥ri√°lis oszlop (variety), amelyet √©rdemes megfelel≈ëen feldolgozni.

In [425]:
print(df["variety"].value_counts())

variety
Setosa        50
Versicolor    50
Virginica     49
Name: count, dtype: int64

Mi√©rt fontos?

- Megmutatja, hogy az egyes kateg√≥ri√°k milyen ar√°nyban vannak jelen.

### Kateg√≥ri√°k k√≥dol√°sa numerikus √©rt√©kekkel
A g√©pi tanul√°s modellek nem tudnak sz√∂veges kateg√≥ri√°kkal dolgozni, ez√©rt numerikuss√° kell alak√≠tani ≈ëket.

 Label Encoding (egyszer≈± sz√°moz√°s)

In [430]:
df["variety_encoded"] = df["variety"].astype("category").cat.codes
display(df[["variety", "variety_encoded"]].head())

  variety  variety_encoded
0  Setosa                0
1  Setosa                0
2  Setosa                0
3  Setosa                0
4  Setosa                0

Mi√©rt fontos?

- Ha egy oszlop n√©h√°ny kateg√≥ri√°t tartalmaz, ez egy egyszer≈± megold√°s.

One-Hot Encoding (dummy v√°ltoz√≥k)

In [434]:
df = pd.get_dummies(df, columns=["variety"])
display(df.head())

,sepal_length,sepal_width,petal.length,petal.width,variety_encoded,variety_Setosa,variety_Versicolor,variety_Virginica
0,5.1,3.5,1.4,0.2,0,True,False,False
1,4.9,3.0,1.4,0.2,0,True,False,False
2,4.7,3.2,1.3,0.2,0,True,False,False
3,4.6,3.1,1.5,0.2,0,True,False,False
4,5.0,3.6,1.4,0.2,0,True,False,False

Mi√©rt fontos?
- Ez seg√≠t elker√ºlni azt, hogy a modellek hib√°san felt√©telezzenek sorrendi kapcsolatot a kateg√≥ri√°k k√∂z√∂tt.

### Label Encoding vs. OHE

A Label Encoding √©s a One-Hot Encoding (OHE) k√©t gyakran haszn√°lt m√≥dszer a kateg√≥ri√°k numerikuss√° alak√≠t√°s√°ra, hogy g√©pi tanul√°si modellekben haszn√°lhat√≥v√° v√°ljanak. N√©zz√ºk meg a k√ºl√∂nbs√©geket, el≈ëny√∂ket √©s h√°tr√°nyokat!

A Label Encoding minden egyes kateg√≥ri√°t egy egyetlen sz√°m√©rt√©kkel helyettes√≠t.

üîπ P√©lda:
Ha van egy "variety" oszlopunk az Iris datasetben, akkor a kateg√≥ri√°kat √≠gy alak√≠thatjuk √°t:

![image.png]()

ne-Hot Encoding (OHE - Egyedi bin√°ris oszlopok)
A One-Hot Encoding minden egyes kateg√≥ri√°t k√ºl√∂n oszlopba bont, ahol az adott kateg√≥ri√°n√°l 1-es, minden m√°sn√°l 0-s √©rt√©k szerepel.

üîπ P√©lda:
Ha a "variety" oszlopunk √≠gy n√©z ki:

![image.png]()
A One-Hot Encoding √≠gy n√©z ki:

![image.png]()

### Adatok v√©letlenszer≈± kever√©se

Ha az adatok rendezetts√©get tartalmaznak, az befoly√°solhatja az elemz√©st √©s a modellez√©st. Ez√©rt keverj√ºk meg ≈ëket:

In [439]:
df_shuffled = df.sample(frac=1, random_state=42).reset_index(drop=True)
display(df_shuffled.head())

,sepal_length,sepal_width,petal.length,petal.width,variety_encoded,variety_Setosa,variety_Versicolor,variety_Virginica
0,6.1,2.8,4.7,1.2,1,False,True,False
1,5.7,3.8,1.7,0.3,0,True,False,False
2,7.7,3.8,6.7,2.2,2,False,False,True
3,6.0,2.9,4.5,1.5,1,False,True,False
4,6.8,2.8,4.8,1.4,1,False,True,False

Mi√©rt fontos?

- Az adathalmazban ne legyen semmilyen mesters√©ges sorrend.

### Hi√°nyz√≥ √©rt√©kek p√≥tl√°sa (ha lenn√©nek)

B√°r az Iris datasetben nincs hi√°nyz√≥ √©rt√©k, m√°s adathalmazokban gyakran el≈ëfordul.

Hi√°nyz√≥ √©rt√©kek kit√∂lt√©se √°tlaggal

In [456]:
df.fillna(df.mean(), inplace=True)

Mi√©rt fontos?

- Az √°tlag j√≥ v√°laszt√°s, ha az √©rt√©kek norm√°lis eloszl√°s√∫ak.

### Hi√°nyz√≥ √©rt√©kek kit√∂lt√©se kateg√≥ri√°s oszlopokban

In [461]:
# A 'variety_Setosa' oszlop hi√°nyz√≥ √©rt√©keinek kit√∂lt√©se a m√≥dusszal (leggyakoribb √©rt√©k).
#
# - df["variety_Setosa"].mode() ‚Üí visszaadja az oszlop leggyakoribb √©rt√©k√©t/√©rt√©keit
# - [0] ‚Üí ha t√∂bb m√≥dusz is van, az els≈ët v√°lasztjuk ki
# - fillna(...) ‚Üí a hi√°nyz√≥ (NaN) √©rt√©keket ezzel p√≥toljuk
#
# A bal oldali hozz√°rendel√©s miatt az eredm√©ny visszaker√ºl az oszlopba.

df["variety_Setosa"] = df["variety_Setosa"].fillna(df["variety_Setosa"].mode()[0])

# Korrel√°ci√≥s elemz√©s

A korrel√°ci√≥s elemz√©s seg√≠t meg√©rteni, hogy az egyes v√°ltoz√≥k mennyire f√ºggnek √∂ssze egym√°ssal.

In [464]:
display(df.corr())

,sepal_length,sepal_width,petal.length,petal.width,variety_encoded,variety_Setosa,variety_Versicolor,variety_Virginica
sepal_length,1.000000,-0.118129,0.873738,0.820620,0.786971,-0.718879,0.079280,0.642853
sepal_width,-0.118129,1.000000,-0.426028,-0.362894,-0.422987,0.601821,-0.473476,-0.128997
petal.length,0.873738,-0.426028,1.000000,0.962772,0.949402,-0.922494,0.206123,0.720018
petal.width,0.820620,-0.362894,0.962772,1.000000,0.956514,-0.886988,0.122833,0.768044
variety_encoded,0.786971,-0.422987,0.949402,0.956514,1.000000,-0.866030,0.005852,0.864556
variety_Setosa,-0.718879,0.601821,-0.922494,-0.886988,-0.866030,1.000000,-0.505051,-0.497468
variety_Versicolor,0.079280,-0.473476,0.206123,0.122833,0.005852,-0.505051,1.000000,-0.497468
variety_Virginica,0.642853,-0.128997,0.720018,0.768044,0.864556,-0.497468,-0.497468,1.000000

Mi√©rt fontos?

- Ha k√©t v√°ltoz√≥ nagyon korrel√°l, lehet, hogy az egyiket elhagyhatjuk a modellb≈ël.

### Outlier-ek (kiugr√≥ √©rt√©kek) kezel√©se

Extr√©m adatok torz√≠thatj√°k az elemz√©st.

### IQR m√≥dszer (Interquartilis tartom√°ny)

In [472]:
# Interkvartilis tartom√°ny (IQR) m√≥dszerrel sz≈±rj√ºk ki a kiugr√≥ (outlier) √©rt√©keket
# az 'sepal_length' oszlopb√≥l.

# Az els≈ë kvartilis (Q1, 25%-os percentilis)
Q1 = df["sepal_length"].quantile(0.25)

# A harmadik kvartilis (Q3, 75%-os percentilis)
Q3 = df["sepal_length"].quantile(0.75)

# IQR = Q3 - Q1 ‚Üí interkvartilis tartom√°ny, az adatok k√∂z√©ps≈ë 50%-√°nak sz√©less√©ge
IQR = Q3 - Q1

# Az outlierek tipikus szab√°lya:
# - als√≥ hat√°r: Q1 - 1.5 * IQR
# - fels≈ë hat√°r: Q3 + 1.5 * IQR
#
# Csak azokat az adatokat tartjuk meg, amelyek ezen a tartom√°nyon bel√ºl vannak.
df_cleaned = df[
    (df["sepal_length"] >= (Q1 - 1.5 * IQR)) &
    (df["sepal_length"] <= (Q3 + 1.5 * IQR))
]

# A tiszt√≠tott DataFrame m√©ret√©nek ki√≠rat√°sa (sorok, oszlopok)
print(df_cleaned.shape)

(149, 8)

Mi√©rt fontos?

- Az IQR m√≥dszerrel kisz≈±rhetj√ºk az extr√©m √©rt√©keket.

## CrossTab - A tapsol√°s adathalmazon

A tapsol√°s adathalmaza az Adelaide-i Egyetem ‚Äûsurvey‚Äù adathalmaza.

R√∂vid √∂sszefoglal√≥:

- Minta: 237 els≈ë√©ves statisztika hallgat√≥ v√°laszai.
- T√≠pus: Data frame (R-ben el√©rhet≈ë).
- Forr√°s: W. N. Venables & B. D. Ripley (2002): Modern Applied Statistics with S-PLUS. Springer.

V√°ltoz√≥k:

- Sex ‚Äì nem (f√©rfi/n≈ë).
- Wr.Hnd / NW.Hnd ‚Äì √≠r√≥k√©z √©s nem-√≠r√≥ k√©z feszt√°vols√°ga (cm).
- W.Hnd ‚Äì √≠r√≥k√©z (bal/jobb).
- Fold ‚Äì karba tett k√©z: melyik van fel√ºl (jobb a balon / bal a jobbon / egyik sem).
- Pulse ‚Äì pulzus (√ºt√©s/perc).
- Clap ‚Äì tapsol√°skor melyik k√©z van fel√ºl (jobb/bal/egyik sem).
- Exer ‚Äì mennyit sportol a hallgat√≥ (gyakran / n√©ha / soha).
- Smoke ‚Äì doh√°nyz√°si szok√°sok (heavy, regular, occasional, never).
- Height ‚Äì magass√°g (cm).
- M.I ‚Äì m√©rt√©kegys√©g t√≠pusa (imperial/metric).
- Age ‚Äì √©letkor (√©v).

adatb√°zis [le√≠r√°s](https://cran.r-project.org/web/packages/MASS/MASS.pdf#page=147) 147. oldal

In [476]:
import pandas as pd

df = pd.read_csv("https://raw.github.com/vincentarelbundock/Rdatasets/master/csv/MASS/survey.csv")
df

,rownames,Sex,Wr.Hnd,NW.Hnd,W.Hnd,Fold,Pulse,Clap,Exer,Smoke,Height,M.I,Age
0,1,Female,18.5,18.0,Right,R on L,92.0,Left,Some,Never,173.0,Metric,18.250
1,2,Male,19.5,20.5,Left,R on L,104.0,Left,NaN,Regul,177.8,Imperial,17.583
2,3,Male,18.0,13.3,Right,L on R,87.0,Neither,NaN,Occas,NaN,NaN,16.917
3,4,Male,18.8,18.9,Right,R on L,NaN,Neither,NaN,Never,160.0,Metric,20.333
4,5,Male,20.0,20.0,Right,Neither,35.0,Right,Some,Never,165.0,Metric,23.667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,233,Female,18.0,18.0,Right,L on R,85.0,Right,Some,Never,165.1,Imperial,17.667
233,234,Female,18.5,18.0,Right,L on R,88.0,Right,Some,Never,160.0,Metric,16.917
234,235,Female,17.5,16.5,Right,R on L,NaN,Right,Some,Never,170.0,Metric,18.583
235,236,Male,21.0,21.5,Right,R on L,90.0,Right,Some,Never,183.0,Metric,17.167
236,237,Female,17.6,17.3,Right,R on L,85.0,Right,Freq,Never,168.5,Metric,17.750

**K√©t kateg√≥rikus v√°ltoz√≥ √∂sszehasonl√≠t√°sa:**

In [479]:
# K√©sz√≠t√ºnk egy keresztt√°bl√°t (kontingenciat√°bl√°t) a Fold √©s W.Hnd oszlopok alapj√°n.

# - df.Fold : a karba tett k√©zn√©l melyik k√©z van fel√ºl (kateg√≥ria).
# - df['W.Hnd'] : a hallgat√≥ √≠r√≥keze (bal vagy jobb).

# A pd.crosstab megsz√°molja, hogy az egyes kombin√°ci√≥k h√°nyszor fordulnak el≈ë.
# Az eredm√©ny egy t√°bl√°zat, ahol a sorok a Fold kateg√≥ri√°k,
# az oszlopok pedig az √≠r√≥k√©z (W.Hnd) kateg√≥ri√°i, √©s a cell√°k a gyakoris√°gokat mutatj√°k.

pd.crosstab(df.Fold, df['W.Hnd']) # k√©t kateg√≥rikus jellemz≈ë egyes √©rt√©keinek el≈ëfordul√°s√°nak gyakoris√°ga

W.Hnd    Left  Right
Fold
L on R     10     88
Neither     1     17
R on L      7    113