# Feladat

A Titanic adathalmaz 

A Titanic adathalmaz az egyik legismertebb nyílt forráskódú dataset, amelyet gyakran használnak adatfeldolgozás, statisztikai elemzés és gépi tanulás gyakorlására. Az adatok az 1912. április 15-én elsüllyedt RMS Titanic utasainak információit tartalmazzák, és azt vizsgálják, hogy kik élték túl a katasztrófát.

Az Adathalmaz jellemzői

- Forrás: OpenML, eredetileg a Kaggle és más statisztikai publikációk alapján.
- Sorok száma: 1309 utas
- Oszlopok száma: 14 jellemző

Az Adathalmaz oszlopai

- pclass =	Utasosztály (1 = első, 2 = második, 3 = harmadosztály)
- sex	= Utas neme (male = férfi, female = nő)
- age	= Utas életkora (néhány érték hiányzik)
- sibsp	= A fedélzeten lévő testvérek és házastársak száma
- parch	= A fedélzeten lévő szülők és gyermekek száma
- fare =	Jegy ára (fontban)
- embarked =	Hol szállt fel az utas (C=Cherbourg, Q=Queenstown, S=Southampton)
- home.dest =	Az utas lakhelye vagy úti célja
 -survived =	Célváltozó (0 = nem élte túl, 1 = túlélte)

Érdekességek a Titanic túlélési adatairól
-  Az 1. osztályú utasok túlélési aránya sokkal magasabb volt, mint a 3. osztályú utasoké.
-  A nők túlélési esélye jelentősen nagyobb volt, mint a férfiaké.
-  Az "Women and children first" szabály miatt a fiatalabb utasok jobban túlélték a katasztrófát.

Adathalmaz forrása: sklearn.datasets.fetch_openml('titanic', version=1)

In [20]:
# Titanic adatok betöltése Scikit-learn segítségével

from sklearn.datasets import fetch_openml
import pandas as pd

# Adatok betöltése az OpenML adatbázisból
titanic = fetch_openml(name="titanic", version=1, as_frame=True)

# Adatok átalakítása Pandas DataFrame formátumba
df = titanic.data
df["survived"] = titanic.target  # A célváltozót (y) is hozzárendeljük

# Az első néhány sor kiírása
display(df.head())

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0

### 1. Feladat – Adatok betöltése és előzetes elemzése


- Töltsd be a Titanic adathalmazt a Scikit-learn fetch_openml függvényével.
- Ellenőrizd az adathalmaz méretét (shape).
- Nézd meg az első 5 sort (head()) és az oszlopneveket (columns).

Elvárt kimenet (példa, a pontos értékek változhatnak):




Az adathalmaz mérete: (1309, 14)
Oszlopnevek: ['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest']

### 2. Feladat - Típusok
   - Ellenőrizd az oszlopok típusát: df.info()
   - Ha a survived nem numerikus, alakítsd számmá (0/1).

### 3. Feladat – Kategóriák numerikussá alakítása

- Alakítsd át a "sex" oszlopot Label Encoding segítségével (male=0, female=1).
- Használj One-Hot Encodingot az "embarked" oszlopra (S, C, Q).
- Nézd meg, hogy a survived oszlop hogyan oszlik meg (value_counts()).

### 4. Feladat – Hiányzó értékek kezelése


- Határozd meg, mely oszlopok tartalmaznak hiányzó adatokat.
- Pótold a numerikus oszlopokban lévő hiányzó értékeket átlaggal.
- Pótold a kategóriális oszlopokban lévő hiányzó értékeket a leggyakoribb értékkel (módusz).

### 5. Feladat – Numerikus és kategóriás oszlopok kiválasztása

- Listázd ki a numerikus oszlopokat a select_dtypes(include=["number"]) segítségével.
- Listázd ki a kategóriás oszlopokat a select_dtypes(exclude=["number"]) segítségével.
- Konvertáld az "age" oszlop értékeit 0 és 1 közé Min-Max skálázással.

Elvárt kimenet (példa):
- Numerikus oszlopok: ['age', 'sibsp', 'parch', 'fare', 'body']
- Kategóriás oszlopok: ['name', 'sex', 'ticket', 'cabin', 'embarked', 'home.dest']

### 6. Feladat - Szűrés
- Szűrd ki a 30 év alatti nőket, akik 1. osztályon utaztak, és túlélték a katasztrófát.
- Rendezd az eredményt kor szerint csökkenő sorrendbe.

## 7. Feladat – Életkori csoportok, összesítések és nemenkénti bontás

**Cél:** életkori kategóriák képzése, túlélési mutatók és alapstatisztikák számítása, majd bontás nemek szerint.

Új oszlop: age_group
Hozz létre egy kategóriát az age alapján az alábbi **fél-nyílt** intervallumokkal (balról zárt, jobbról nyitott):
- **Gyerek**: [0, 10)
- **Fiatal**: [10, 20)
- **Fiatal felnőtt**: [20, 35)
- **Középkorú**: [35, 60)
- **Idős**: [60, ∞)

Megjegyzés:
 - A hiányzó életkorokat kezeld külön: jelöld **Ismeretlen** kategóriával *vagy* hagyd ki az összesítésekből — jelezd, melyiket választottad.
 - Gondoskodj róla, hogy a age_group **rendezett kategória** legyen (Gyerek → … → Idős), hogy a táblázatok érthető sorrendben jelenjenek meg.

### 8. Feladat - Összesítés életkori csoportonként
Számítsd ki **csoportonként (age_group)**:
- n (megfigyelések száma),
- survived_count (túlélők száma, azaz survived összege),
- survival_rate (túlélési arány, azaz survived átlaga),
- age_min, age_median, age_max (életkor min/medián/max — az Ismeretlen csoportot itt hagyhatod üresen).

Jelezd, ha a hiányzó életkorok miatt bármelyik statisztika nem értelmezhető egy csoportban.

### 9.Feladat -  Nemenkénti bontás
Ismételd meg az összesítést **age_group × sex** bontásban:
- számold ki n, survived_count, survival_rate mutatókat (az életkor-statisztikák opcionálisak),
- ügyelj a sex értékeinek konzisztenciájára (female/male).
- Rendezd a táblázatokat az életkori csoportok **logikus sorrendje** szerint.
- Javasolt oszlopok: age_group, sex (ha van), n, survived_count, survival_rate, age_min, age_median, age_max.

### 10. Feladat – Csoportosítás és korreláció

Túlélési arány osztályok szerint:
- Számítsd ki a túlélési arányt pclass szerint, és add meg a mintanagyságot is osztályonként.
- Kiegészítés: ismételd meg pclass × sex bontásban, és értelmezd a különbségeket (konfundálás).

### 11. Korreláció a túléléssel

- Vizsgáld a bináris survived és a numerikus jellemzők közötti kapcsolatot.
- Nézd meg a Spearman korrelációt is.
- Készíts log-transzformált fare-t és hasonlítsd össze a korrelációs együtthatókat.

### 12. Feladat – Többfüggvényes aggregáció (groupby + agg)

Készits kimutatást nem és osztályonként több mutatótval egy lépésben.
Csoportosíts pclass × sex szerint.

Számítsd ki:
- n (darabszám),
- survival_rate (= survived átlaga),
- age_median (medián),
- fare_median (medián),
- fare_IQR (Q3–Q1, lambda: x.quantile(.75) - x.quantile(.25)).

Rendezd survival_rate szerint csökkenő sorrendbe.
Ellenőrzés: a táblázat indexe több szintű (pclass, sex), az oszlopok a fenti nevű mutatók.

### 13. Feladat – „Named aggregation” + egyedi mutatók (lambda)

Készits beszédes oszlopneveket és saját képleteket.
Pl. Hozz létre family_size = sibsp + parch + 1.

Csoportosíts pclass szerint, és agg-gel számítsd:
- avg_family_size (átlag),
- large_family_rate (arány, lambda: a family_size >= 4 részesedése),
- youth_rate (arány, lambda: age < 18 részesedése – hiányzókat hagyd ki).

Ellenőrzés: 3 új, beszédes nevű oszlop jelenjen meg; értelmezd röviden, mit jelent a három mutató.

### 14. Feladat – Kontingenciatábla (pd.crosstab)

Készits kategória × kategória kapcsolat gyors áttekintése.

Pl. crosstab-ot pclass × survived-ra:
- nyers darabszámok
- normalize="index" (osztályon belüli arányok),
- margins=True (összes sor/oszlop).

Ugyanezt kipróbálhatod a sex × survived-ra is mutasd meg.

Ellenőrzés: a normalizált táblában a sorok összege = 1; rövid megjegyzés, mit látsz.

### 15. Feladat – Crosstab érték-aggregációval + életkori csoport

A crosstab nem csak számolni tud, aggregálni is.

- Hozz létre rendezett age_group kategóriát (pl. [0,10), [10,20), [20,35), [35,60), [60,∞); hiányzó kor: „Ismeretlen”).
- Készíts pd.crosstab(age_group, sex, values=fare, aggfunc="median") táblát (medián viteldíj korcsoport × nem szerint).
- Készíts külön táblát normalize="all"-lal age_group × survived-ra (teljes mintán belüli arányok).

Ellenőrzés: a medián-táblában számszerű viteldíjak; a normalizált táblában az összeg 1.